{% extends "base.html" %} {% block navigator %}
<a class="w3-bar-item w3-button" href="/engineering">Configurations</a>
<a class="w3-bar-item w3-button" href="/engineering/filterRecipe">Filter Recipes</a>
<a class="w3-bar-item w3-button" href="/engineering/yang">YANG Models</a> {% endblock %} {% block content %}
<h2>Welcome to Engineering Suite</h2>
<div class="centered-box">
    <a href="/engineering/createNewConfig" class="blue-button-href">Add new Configuration</a><br>


    <table class="w3-table-all">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
        </tr>
        {% for set in data %}
        <tr>
            <td>{{set["name"]}}</td>
            <td>{{set["Description"]}}</td>
            <td>2019-10-15</td>
            <td><a href='/engineering/editConfig?id={{set["id"]}}' style="w3-button">edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}